*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins", sans-serif;
}



body{

    min-height:100vh;
    background:#fdfbff;

}



.container{

    display:flex;
    min-height:100vh;

}



/* Partie gauche */

.welcome-section{


    width:50%;
    background:linear-gradient(
        135deg,
        #8e44ad,
        #b8e7ff
    );

    color:white;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    padding:50px;

    text-align:center;

}




.logo{

    background:white;

    color:#8e44ad;

    padding:12px 25px;

    border-radius:30px;

    font-size:22px;

    font-weight:bold;

    margin-bottom:30px;

}




.welcome-section h1{

    font-size:38px;

    margin-bottom:20px;

}



.welcome-section p{

    font-size:18px;

    line-height:1.6;

    max-width:450px;

}



.illustration{

    font-size:90px;

    margin-top:40px;

}



/* Partie Login */


.login-section{


    width:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    background:white;

}




.login-box{


    width:420px;

    padding:40px;

    border-radius:25px;


    box-shadow:
    0 10px 30px rgba(0,0,0,0.1);

}




.login-box h2{

    color:#8e44ad;

    font-size:32px;

}



.subtitle{

    color:#777;

    margin:10px 0 30px;

}





label{

    display:block;

    margin-top:15px;

    color:#555;

    font-weight:600;

}




input,
select{


    width:100%;

    padding:14px;

    margin-top:8px;

    border-radius:12px;

    border:1px solid #ddd;

    outline:none;

    font-size:15px;

}



input:focus,
select:focus{

    border-color:#8e44ad;

}





.password-box{

    position:relative;

}



.password-box span{


    position:absolute;

    right:15px;

    top:20px;

    cursor:pointer;

}





button{


    margin-top:30px;

    width:100%;

    padding:15px;

    border:none;

    border-radius:15px;

    background:#8e44ad;

    color:white;

    font-size:18px;

    cursor:pointer;

    transition:0.3s;

}



button:hover{

    background:#f1c40f;

    color:#333;

}





.forgot{

    text-align:center;

    margin-top:20px;

    color:#8e44ad;

    cursor:pointer;

}





@media(max-width:900px){


    .container{

        flex-direction:column;

    }


    .welcome-section,
    .login-section{

        width:100%;

    }


}